# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environments
.env
.venv
env/
venv/
ENV/

# Docker
docker-compose.override.yml

# Editors/OS
.vscode/
.idea/
.DS_Store

# Testing/coverage
.pytest_cache/
.coverage
htmlcov/
