{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Inscrição concluída" %} — FenixSchool{% endblock %}

{% block content %}
<h1>{% translate "Inscrição concluída" %}</h1>
<p>
    {% blocktranslate with first_name=student.first_name last_name=student.last_name number=student.student_number %}Aluno <strong>{{ first_name }} {{ last_name }}</strong> inscrito com o número de aluno <strong>#{{ number }}</strong>.{% endblocktranslate %}
</p>
<a href="{% url 'enrollment:student_inscription' %}">{% translate "Nova inscrição" %}</a>
{% endblock %}
